<div>
	<a href="#main-content" class="button visually-hidden-onblur">Skip to content</a>
</div>

<style>
	div {
		position: absolute;
		text-align: center;
		top: var(--space-s-m);
		right: 0;
		left: 0;
		z-index: 20;
	}
</style>
