@font-face {
	font-display: block;
	font-family: 'Schibsted Grotesk';
	font-style: normal;
	src: url('/fonts/SchibstedGrotesk.woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'Schibsted Grotesk';
	font-style: italic;
	src: url('/fonts/SchibstedGrotesk-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'Montagu Slab';
	font-style: normal;
	src: url('/fonts/montagu-slab-variable.woff2') format('woff2-variations');
}