---
import Base from "@layouts/Base.astro";
import Landing from "@components/Landing.astro";
import Events from "@components/Events.astro";
import eventSchedule from "@data/events.json";
---

<Base>
	<Landing slot="header" />
	<h2>Upcoming Tours</h2>
	<Events list={eventSchedule.slice(0, 5)} />
	<p class="text-center text-2 uppercase">
		<a href="/tours">
			All upcoming tours <span aria-hidden="true">&rarr;</span>
		</a>
	</p>
</Base>
