---
import Main from "@layouts/Main.astro";
import Events from "@components/Events.astro";
import eventSchedule from "@data/events.json";
---

<Main title="Tours">
	<Events list={eventSchedule} />
	<div class="stack stack-space-xs mbs-xl text-center">
		<p>Get notified when new events are announced in your area</p>
		<p>
			<a class="button" href="/">Follow the 1975</a>
		</p>
	</div>
</Main>
