---
const props = Astro.props;
---

<h2 class="heading-anchor" {...props}>
	<a href={`#${props.id}`}><slot /></a>
</h2>

<style>
	a {
		text-decoration: none;
	}

	a:link:hover {
		text-decoration: underline;
	}
</style>
