---
const props = Astro.props;
---

<h2 class="heading-anchor" {...props}>
	<a><slot /></a>
</h2>

<style>
	a {
		text-decoration: none;
	}

	a:link:hover {
		text-decoration: underline;
	}
</style>

<script>
	document
		.querySelectorAll('.heading-anchor')
		.forEach((heading) => {
			const anchor = heading.querySelector('a');

			if (heading.hasAttribute('id')) {
				anchor.href = `#${heading.id}`;
			} else {
				const slugify = (string) => string
					.toLowerCase()
					.replace(/[^a-z0-9]/gi, ' ')
					.split(' ')
					.filter(x => x.length)
					.join('-');
				const slug = slugify(anchor.textContent);
				heading.id = slug;
				anchor.href = `#${slug}`;
			}
		});
</script>