@layer base {
	* {
		text-underline-position: under;
	}

	*:focus {
		outline: 2px dashed;
		outline-offset: 3px;
	}

	*::selection {
		background-color: var(--color-brand-primary);
		color: var(--color-background-body);
	}

	[tabindex="-1"] {
		outline: none;
	}

	body {
		background-color: var(--color-background-body);
		color: var(--color-text);
		font-family: var(--font-sans);
		font-size: var(--text-1);
		line-height: 1.5;
	}

	.layout {
		min-height: inherit;
	}

	.layout > * {
		margin-inline: auto;
	}
}