@layer base {
	*,
	*::before,
	*::after {
		--stack-space-override: var(--stack-space);
	}

	h1 + *,
	h2 + * {
		--stack-space-override: var(--space-s);
	}

	figure,
	.figure,
	figure + *,
	.figure + * {
		--stack-space-override: var(--space-xl-2xl);
	}
}

@layer components {
	.stack {
		--stack-space: var(--default-stack-space);
	}

	.stack > * + * {
		margin-block-start: var(--stack-space-override);
	}
}