.wrapper {
	--wrapper-max-content-width: 100%;
	--wrapper-padding: var(--space-s-m);
	padding-inline: var(--wrapper-padding);
}

.wrapper > * {
	margin-inline: auto;
	max-inline-size: var(--wrapper-max-content-width);
}

.wrapper > .full-bleed {
	inline-size: calc(100% + var(--wrapper-padding) * 2);
	margin-inline: calc(-1 * var(--wrapper-padding));
	max-inline-size: none;
}

.copy-wrapper {
	--wrapper-max-content-width: calc(41 * var(--text-1));
}